* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* navbar and header  section */
.header-container {
  background-color: blanchedalmond;
}
.nav-container {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-title {
  font-size: 30px;
  font-weight: bold;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 55px;
  font-size: 22px;
}

/* banner section */
.banner-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-title {
  font-size: 60px;
  font-weight: bold;
}
.banner-text {
  margin-top: 15px;

  color: #3a3a3a;
}
.banner-sec-text {
  margin-left: 65px;
  margin-bottom: 20px;
  color: #3a3a3a;
}

.banner-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title {
  margin-left: 170px;
}
.banner-sec-title {
  font-size: 57px;
  font-weight: bold;
  margin-left: 80px;
}
.banner-img {
  text-align: center;
}
.banner-img img {
  height: 80vh;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.explore-btn {
  padding: 20px;
  border-radius: 5px;
  color: aliceblue;
  background-color: darkgoldenrod;
  font-size: 20px;
  border: none;
  margin-bottom: 30px;
  margin-left: 220px;
  margin-top: 10px;
}

/* features section */

.features-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: relative;
}
.feature-img-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-left: 150px;
}
.feature-img-section img {
  border-radius: 10px;
  transition: all 500ms ease-in-out;
}

.experience-btn-section {
  position: absolute;
  bottom: 100px;
  left: -40px;
}

.feature-details-section {
  /* padding-right: 150px; */
  height: 50%;
  width: 50%;
  padding-left: 120px;
}
.feature-heading {
  font-size: 40px;
  color: #3a3a3a;
}
.feature-heading span {
  color: black;
}
.feature-details-section h3 {
  font-size: 40px;
  color: chocolate;
  padding-bottom: 10px;
}
.feature-description {
  color: #3a3a3a;
  padding-bottom: 20px;
}
.explore-btn-2 {
  padding: 20px;
  border-radius: 5px;
  color: aliceblue;
  background-color: darkgoldenrod;
  font-size: 20px;
  border: none;
  margin-bottom: 30px;
}
.feature-img-section img:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: scale(1.2, 1.2);
}

/* feature facilities */

/* .total-feature-container{
position: relative;
} */
.feature-facility {
  display: flex;
  margin-top: 100px;
}
.facility-detail-heading {
  font-size: 40px;
  font-weight: bold;
}
.facility-details {
  width: 50%;
  height: 50%;
  padding-left: 200px;
  margin-top: 60px;
}

.facility-detail-heading {
  border-left: 5px solid orangered;
  padding-left: 20px;
}
.facility-detail-des {
  color: #3a3a3a;
  padding-top: 15px;
  padding-bottom: 20px;
}

.facility-img {
  width: 50%;
  height: 50%;
  position: relative;
}
.facility-img img {
  width: 90%;
  height: 800px;
  margin: auto;
}

.facility {
  box-shadow: 0px 1px 2px #888888;
  width: 80%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.facility-h1 {
  padding-bottom: 5px;
}

.experience-btn {
  padding: 30px 40px;
  color: wheat;
  background-color: chocolate;
  border-radius: 7px;
  border-style: none;
  position: absolute;
}

.ex-btn-h1 {
  font-size: 60px;
}
.ex-btn-p {
  font-size: 20px;
}

/* activity parts */
.activity-parts {
  margin-top: 300px;
  margin-left: 200px;
  margin-bottom: 40px;
}

.activity-title {
  font-size: 45px;
  padding-bottom: 10px;
}
.activity-details {
  color: #3a3a3a;
}
.activity-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  padding-right: 260px;
}
.single-box {
  transition: all 500ms ease-in-out;
  border: 3px solid yellowgreen;
  padding: 30px;
  height: 200px;
  width: 200px;
}
.single-box:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: scale(1.2, 1.2);
}

.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}
.box-des {
  font-size: 20px;
  columns: rgb(87, 83, 83);
}
.pad-position {
  padding-left: 24px;
}
/* sponsor details section */
.sponser-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.sponser-details-title {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 20px;
}
.sponser-details-1 {
  color: #5a5555;
}
.sponser-details-2 {
  color: #5a5555;
}
.sponsor-logo {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

/* footer-section */
.footer-section {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(55, 42, 65);
}
.footer-heading {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5px;
}
.footer-desc-1 {
  font-size: 20px;
}
.footer-desc-2 {
  font-size: 20px;
  padding-bottom: 10px;
}
.footer-social-icon i {
  padding-right: 15px;
  font-size: 20px;
}
.footer-right-title {
  font-size: 40px;
  padding-bottom: 10px;
}
input {
  padding: 20px 70px;
}
#input-text {
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 5px;
}
#input-email {
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 5px;
}
#text-area {
  font-size: 15px;
  border-radius: 5px;
}
.footer-btn {
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: chocolate;
  color: white;
  margin-bottom: 10px;
}
/* end-section */
.end-section {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  margin-top: 30px;
  padding: 30px;
  width: 80%;
  margin-left: 150px;
  margin-bottom: 150px;
}
.end-section p {
  font-size: 20px;
}

/* Responsive part */
@media only screen and (max-width: 576px) {
  .nav-menu ul {
    flex-direction: column;
    gap: 0;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-menu ul li {
    padding: 5px;
  }
  .nav-title h1 {
    font-size: 25px;
  }
  .banner-all-text p {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .banner-sec-text {
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: #3a3a3a;
  }
  .banner-title {
    /* padding: 5px; */
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .banner-sec-title {
    margin-left: 0px;
    /* padding: 10px; */
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  .banner-section {
    padding-top: 10px;
  }
  .feature-img-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0px;
  }
  .features-section {
    flex-direction: column;
  }
  .feature-img-section img {
    width: 90%;
    margin: auto;
  }

  .feature-heading {
    margin-top: 10px;
    font-size: 30px;
    color: #3a3a3a;
  }
  .feature-details-section {
    width: 95%;
    padding: 5px;
    padding-left: 0px;
    margin: auto;
  }

  .facility-details {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
  }
  .feature-facility {
    margin-top: 50px;
    flex-direction: column;
    padding: 10px;
  }

  .facility {
    margin: 10px auto;
  }

  .facility-img {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
  }
  .facility-img img {
    width: 90%;
  }
  .sponsor-logo {
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .sponser-details-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .experience-btn-section {
    position: absolute;
    bottom: 80px;
    left: -20px;
  }
  .activity-box {
    flex-direction: column;
    margin-top: 50px;
    padding-right: 0px;
  }
  .activity-parts {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 30px;
    text-align: center;
  }
  .sponsor-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
  }
  .sponsor-logo img {
    font-size: 50px;
    /* width: 50%;
    height: 50%; */
    padding-bottom: 12px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 42, 65);
  }
  .footer-heading {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    /* padding-left: -20px; */
  }
  .footer-desc-1,
  .footer-desc-2 {
    font-size: 15px;
  }
  .footer-right-title {
    font-size: 25px;
    padding-bottom: 10px;
  }
  #input-text {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 7px;
    border-radius: 5px;
  }
  #input-email {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 7px;
    border-radius: 5px;
  }
  #text-area {
    padding: 10px;
    font-size: 7px;
    border-radius: 5px;
  }
  .footer-btn {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: chocolate;
    color: white;
    margin-bottom: 10px;
  }
  .end-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 30px;
    padding: 30px;
    width: 100%;
    padding-right: 30px;
    margin-bottom: 100px;
  }
  .footer-left-side {
    padding-bottom: 30px;
  }
  .end-section {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .facility-details {
    padding: 5px;
  }

  .experience-btn {
    padding: 8px 25px;
    color: wheat;
    background-color: chocolate;
    border-radius: 7px;
    border-style: none;
    position: absolute;
  }
  .ex-btn-h1 {
    font-size: 30px;
  }
  .ex-btn-p {
    font-size: 10px;
  }
  .end-section p {
    font-size: 10px;
    padding-left: 10px;
  }

  .explore-btn {
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: darkgoldenrod;
    font-size: 15px;
    border: none;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-top: 10px;
  }

  .single-box {
    transition: all 500ms ease-in-out;
    border: 3px solid yellowgreen;
    padding: 18px;
    height: 140px;
    width: 140px;
    margin-bottom: 5px;
  }

  .sponser-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding-bottom: 10px;
  }

  .feature-details-section h3 {
    font-size: 30px;
    color: chocolate;
    padding-bottom: 10px;
  }

  .explore-btn-2 {
    padding: 13px;
    border-radius: 5px;
    color: aliceblue;
    background-color: darkgoldenrod;
    font-size: 13px;
    border: none;
    margin-bottom: 20px;
  }
  h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .activity-title {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .footer-details {
    padding-left: 27px;
  }
  .footer-social-icon {
    padding-left: 27px;
  }
}
